@import "tailwindcss";

@theme {
  --color-primary: black;
  --font-sans: Arial, Helvetica, sans-serif;
  --spacing-card: 1rem;
  --radius-card: 0.5rem;
}

[data-theme="fun"] {
  --font-sans: "Comic Sans MS", "Comic Sans", cursive;
  --color-primary: salmon;
  --spacing-card: 1.5rem;
  --radius-card: 1rem;
}

[data-theme="corporate"] {
  --font-sans: Arial, Helvetica, sans-serif;
  --color-primary: black;
  --spacing-card: 0.5rem;
  --radius-card: 0.125rem;
}
